version: "3.9"

services:
  vitess:
    image: planetscale/vitess-all-in-one:15
    container_name: vitess
    ports:
      - "15306:15306"   # MySQL protocol
      - "15000:15000"   # Admin UI
    command:
      - vtcombo
      - --port=15000
      - --grpc_port=15999
      - --mysql_server_port=15306
      - --mysql_server_socket_path=""
      - --logtostderr
    restart: always
    volumes:
      - vitess_data:/vt

  redis:
    image: redis:7
    restart: always
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data

  frankenphp:
    build: ./frankenphp
    container_name: frankenphp-wp
    restart: always
    volumes:
      - ./wordpress:/app/public
    environment:
      DB_HOST: vitess
      DB_PORT: 15306
      DB_NAME: wordpress
      DB_USER: wpuser
      DB_PASSWORD: wppassword
      WP_ENV: production
    depends_on:
      - vitess
      - redis

volumes:
  vitess_data:
  redis_data:
